.card {
  background-color: #0e1a37;
  padding: 30px;
  color: #fff;
  border-radius: 7px;
  margin-bottom: -60px !important;
  margin: 0;
  margin-bottom: 15px !important;

  >* {
    margin-bottom: 30px;
  }

  .avatar-block {
    display: flex;
    justify-content: center;
    position: relative;
    height: 125px;
    align-items: center;
    overflow: hidden;

    .avatar {
      height: 100%;
      border-radius: 50%;
    }
  }

  .stats-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .stat {
      display: flex;
      align-items: center;
      height: 20px;

      .label {
        min-width: 55px;

        .label-text {
          color: rgb(221, 221, 221);
          font-weight: bold;
          font-size: 17px;
          margin: 0;
        }
      }
    }

    .progress-bar {
      height: 100%;
      width: 100%;

      .progress {
        background-color: #00f8ef;
        height: 100%;
        border-radius: 3px;
        transition: width 0.5s ease-in-out;
      }
    }
  }

  .info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-overflow: ellipsis;
    
    .info {
      margin: 0;
      text-transform: uppercase;
      overflow: hidden;
      font-weight: bold;
      font-size: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;

      &:first-child {
        color: rgb(235, 171, 52);
        font-size: 18px;
      }
    }
  }

  .links-block {
    background-color: #24365e;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    height: 100%;
    border-radius: 7px;

    .link~.link{
      margin-left: 15px;
    }
    .link {
    
      img{
        max-height: 50px;
      }
    }
  }
}