@import './variables';

.header {
  background-image: url(../content/pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2000;

  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    width: 100%;

    .logo {
      margin: 0 50px -200px 0;
      display: flex;
      align-items: flex-start;
      position: relative;
      height: 470px;
      z-index: 2;

      .banner{
        height: 80%;
      }
    }

    .link {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $accent-color;
        text-decoration: none;
      }
    }

    .navigation {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      .item {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.8em;


        &.item~.item {
          margin-left: 46px;
        }
      }
    }

    .actions {
      margin-left: auto;

      .action {

        .icon {
          margin-right: 5px;
        }
      }
    }
  }
}