.slider {
  width: 100%;
  position: relative;
}

.fuck {
  left: 0;
  right: 0;
  position: absolute;
}

.slider .container {
  width: 1200px;
  height: 650px;
  /* position: relative; */
}

.news {
  margin-top: 40px;
  width: 470px;
  padding: 8px;
  background-color: rgba(88, 151, 218, 0.67);
  border-radius: 8px 8px 8px 8px;
  text-align: center;
  margin-bottom: 100px;
}

.news p {
  font-size: 39px;
  font-weight: bold;

}

.button {
  /* margin-top: 1200px; */
  padding: 28px 40px;
  width: 262px;
  background-color: #00b9ee;
  color: #fff;
  border-radius: 4px 4px 12px 4px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.8;
}

.slidearea {
  position: relative;
}

.news-block {
  position: absolute;
  width: 500px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 1200px;
  margin: 0 auto;
}

.slider-wrap {
  position: relative;
  width: 100%;
}

.slick-arrow {
  z-index: 2;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.slider .slide {
  max-width: 1920px;
}

.news {
  min-height: 200px;
  position: relative;
  text-align: center;
}

.news p {
  position: absolute;
}

.news-appear {
  animation: appear 0.4s ease-in;
}

.news-disapear {
  animation: disapear 0.2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes disapear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
